<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408316869348-1895u12r2grfscno46unkp4mpmm7vdup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408316869348-1895u12r2grfscno46unkp4mpmm7vdup</string>
	<key>API_KEY</key>
	<string>AIzaSyDtfzml8wIS_68R82Ydx5R0-X8BijhhBfE</string>
	<key>GCM_SENDER_ID</key>
	<string>408316869348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sun.FirebaseNotice</string>
	<key>PROJECT_ID</key>
	<string>fir-notice-511b8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notice-511b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408316869348:ios:4e0801e8857c9114748af1</string>
</dict>
</plist>